@model RDAT.ViewModels.CreateBatchViewModel 
                                             
@{ 
    ViewData["Title"] = "Grid"; Layout = "~/Views/Shared/_Layout.cshtml"; 
    WebGrid grid = new WebGrid(HttpContextAccessor, source: this.Model.tempTestingLogs, defaultSort: "Driver_Id", rowsPerPage: 10000); 
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                    <h1><i class="nav-icon fas fa-th mr-2"></i>@ViewBag.ListName</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Create Batch</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>@ViewBag.activeDrivers</h3>

                                <p>Total Number of Active Drivers</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>@ViewBag.totalDrivers</h3>

                                <p>Total Drivers for Test</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-stalker"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>@ViewBag.percentDrug<sup style="font-size: 20px">%</sup></h3>

                                <p>Percentage Drug</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-secondary">
                            <div class="inner">
                                <h3>@ViewBag.percentAlcohol<sup style="font-size: 20px">%</sup></h3>

                                <p>Percentage Alcohol</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="alert alert-light border-dark" role="alert">
                <form asp-action="CreateBatch" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.batchRequest.DrugPercentage" class="control-label"></label>
                                <input asp-for="@Model.batchRequest.DrugPercentage" class="form-control" />
                                <span asp-validation-for="@Model.batchRequest.DrugPercentage" class="text-danger"></span>
                            </div>

                            <div class="form-group">
    <label asp-for="@Model.batchRequest.AlcoholPercentage" class="control-label"></label>
    <input asp-for="@Model.batchRequest.AlcoholPercentage" class="form-control" />
    <span asp-validation-for="@Model.batchRequest.AlcoholPercentage" class="text-danger"></span>
</div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.batchRequest.DrugTestDate" class="control-label"></label>
                                <input asp-for="@Model.batchRequest.DrugTestDate" class="form-control" />
                                <span asp-validation-for="@Model.batchRequest.DrugTestDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.batchRequest.AlcoholTestDate" class="control-label"></label>
                                <input asp-for="@Model.batchRequest.AlcoholTestDate" class="form-control" />
                                <span asp-validation-for="@Model.batchRequest.AlcoholTestDate" class="text-danger"></span>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="submit" value="Generate New List of Drivers" class="btn btn-primary" />
                                
                                <button type="button" class="btn btn-success ml-2" onclick="window.location = '@Url.Action("UpdateBatch", "Reports")';" />
                                        Create Batch from This List
                                    </button>
                                
                            </div>
                        </div>
                    </div>

                </form> </div>
                <div class="row">
                    @if (grid.HasSelection)
                    {
                        var item = (RDAT.Models.Driver)grid.Rows[grid.SelectedIndex].Value;
                        <b>Name</b> @item.DriverName<br />
                    }
                    @grid.GetHtml(tableStyle: "table table-bordered", columns: grid.Columns(

                     grid.Column("Driver_Id"),
                     grid.Column("Driver_Name"),
                     grid.Column("Test_Type"),
                     grid.Column("CreatedDate", "Created Date",
                        format: (item) => (item.CreatedDate == null) ? "" : string.Format("{0:dd-MMM-yyyy}", item.CreatedDate)),
                     grid.Column("Status")
                    )
                    )

                </div>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <div class="card-tools">
                    

                </div>

        </div>
        <!-- /.card-footer-->
</div>
<!-- /.card -->
    </section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
