@model RDAT.ViewModels.MISReportViewModel

@{
    ViewData["Title"] = "MIS";
    WebGrid grid = new WebGrid(HttpContextAccessor, source: this.Model.SummaryTestTypes, defaultSort: "Driver_Id", rowsPerPage: 10000, canSort: false);
    WebGrid grid_details = new WebGrid(HttpContextAccessor, source: this.Model.Details, defaultSort: "Company_Name", rowsPerPage: 10000, canSort: false);
}

<style>
     
    .myCheckbox input {
    position: relative;
    z-index: -9999;
    }

    .myCheckbox span {
      width: 20px;
      height: 20px;
      display: block;
      background: url("link_to_image");
    }

    .myCheckbox input:checked + span {
      background: url("link_to_another_image");
    }

</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                    <h1><i class="nav-icon fas fa-th mr-2"></i>@ViewBag.ListName</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Create Batch</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header bg-secondary">
                <h3>MIS Report</h3>
            </div>
            <div class="card-body">

                <div class="alert alert-light border-dark" role="alert">
                    <form asp-action="MIS" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.ReportRequest.CompanyID" class="control-label"></label>
                                    <select asp-for="@Model.ReportRequest.CompanyID" asp-items="Model.Companies" class="custom-select">
                                        <option value="">Choose a Company</option>
                                        <option value="All" selected>All</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.ReportRequest.TestType" class="control-label"></label>
                                    <select asp-for="@Model.ReportRequest.TestType" class="custom-select">
                                        <option value="Alcohol" selected>Alcohol</option>
                                        <option value="Drug">Drug</option>
                                        <option value="Drug_Alcohol">Alcohol and Drug</option>
                                    </select>
                                    <span asp-validation-for="@Model.ReportRequest.TestType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.ReportRequest.StartDate" class="control-label"></label>
                                    <input type="date" asp-for="@Model.ReportRequest.StartDate" class="form-control" />
                                    <span asp-validation-for="@Model.ReportRequest.StartDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.ReportRequest.EndDate" class="control-label"></label>
                                    <input type="date" asp-for="@Model.ReportRequest.EndDate" class="form-control" />
                                    <span asp-validation-for="@Model.ReportRequest.EndDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-0">
                            <div class="col-md-6 p-0">
                                <div class="form-check p-0">
                                    <input asp-for="@Model.ReportRequest.IncludeDriverDetails" />
                                    <label asp-for="@Model.ReportRequest.IncludeDriverDetails"></label>
                                </div>
                            </div>
                            <div class="col-md-6 p-0">
                                <div class="form-check p-0">
                                    <input asp-for="@Model.ReportRequest.IncludeAllDriverDetails" />
                                    <label asp-for="@Model.ReportRequest.IncludeAllDriverDetails"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-0">



                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="form-group">
                                    <input type="submit" value="Run Report" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                @if (Model.SummaryTestTypes.Count > 0)
                {
                    <div class="row mt-5"><h3>MIS Summary Report</h3></div>
                    <div class="row" id="Grid">
                        @grid.GetHtml(tableStyle: "table table-bordered", columns: grid.Columns(
                         grid.Column("Description", ""),
                         grid.Column("Batch_Number", "Batch Number", format: (item) => (item.Batch_Number == 0) ? "" : item.Batch_Number),
                         grid.Column("Active_Enrolled_Drivers", "Active Enrolled Drivers"),
                         grid.Column("Selected_Drivers", "Selected Drivers"),
                         grid.Column("Excused_Drivers", "Excused Drivers"),
                         grid.Column("Positive_Tested_Drivers", "Positive Tested Drivers"),
                         grid.Column("Negative_Tested_Drivers", "Negative Tested Drivers"),
                         grid.Column("Selection_Test_Ratio", "Selection Test Ratio", format: (item) => (item.Selection_Test_Ratio == 0) ? "" : item.Selection_Test_Ratio),
                         grid.Column("Annual_Ratio", "Annual Ratio", format: (item) => (item.Annual_Ratio == null) ? "" : string.Format("{0:#.##}", item.Annual_Ratio)))
                         )
                    </div>
                    <div>
                        @using (Html.BeginForm("Export", "Reports", FormMethod.Post))
                        {
                            <input type="hidden" name="GridHtml" />
                            <input type="submit" id="btnSubmit" value="Export Summary" />
                        }

                        @using (Html.BeginForm("ExportPDF", "Reports", FormMethod.Post))
                        {
                            <input type="hidden" name="GridHtml" />
                            <input type="submit" id="btnSubmitPDF" value="Export PDF" />
                        }

                    </div>

                }


                @if (Model.Details.Count > 0)
                {
                    <div class="row mt-5"><h3>Details Report</h3></div>
                    <div class="row" id="DetailsGrid">
                        @grid_details.GetHtml(tableStyle: "table table-bordered", columns: grid_details.Columns(
                         grid_details.Column("Batch_Number", "Batch Number", format: (item) => (item.Batch_Number == 0) ? "" : item.Batch_Number),
                         grid_details.Column("Driver_Name", "Driver"),
                         grid_details.Column("Company_Name", "Company"),
                         grid_details.Column("Test_Type", "Test Type"),
                         grid_details.Column("Result", "Result"),
                         grid_details.Column("ResultsDate", "Result Date"))


    )

                    </div>
                    <div>
                        @using (Html.BeginForm("ExportDetails", "Reports", FormMethod.Post))
                        {
                            <input type="hidden" name="DetailsGridHtml" />
                            <input type="submit" id="btnDetailsSubmit" value="Export Details" />
                        }

                    </div>
                }
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <div class="card-tools">


            </div>

        </div>
        <!-- /.card-footer-->
</div>
<!-- /.card -->
    </section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        //Add CSS to the Table for formatting.
        $("#Grid table").attr("cellpadding", "5");
        $("#Grid table").css({ "border-collapse": "collapse", "border": "1px solid #ccc" });
        $("#Grid th").css({ "background-color": "#e3e3e3", "border": "1px solid #ccc" });
        $("#Grid td").css({ "width": "150px", "border": "1px solid #ccc" });

        //Add CSS to the Table for formatting.
        $("#DetailsGrid table").attr("cellpadding", "5");
        $("#DetailsGrid table").css({ "border-collapse": "collapse", "border": "1px solid #ccc" });
        $("#DetailsGrid th").css({ "background-color": "#e3e3e3", "border": "1px solid #ccc" });
        $("#DetailsGrid td").css({ "width": "150px", "border": "1px solid #ccc" });

        //Assign Click event to Button.
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });

        //Assign Click event to Button.
        $("#btnSubmitPDF").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });

        //Assign Click event to Button.
        $("#btnDetailsSubmit").click(function () {
            $("input[name='DetailsGridHtml']").val($("#DetailsGrid").html());
        });
    });
</script>
