@model RDAT.Models.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">RDAT Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.BadgeTotalActiveDrivers</h3>

                            <p>Total Active Drivers</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <a href="../Driver" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@Model.BadgeTotalActiveCompanies</h3>

                            <p>Total Active Companies</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-tag"></i>
                        </div>
                        <a href="../reports/drivers_test" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@Model.BadgeOutstandingDrugTest</h3>

                            <p>Outstanding Drug Test</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-prescription-bottle-alt"></i>
                        </div>
                        <div class="small-box-footer text-white">
                            @Html.ActionLink("View List", "outstanding", "Reports", new { Type = "Drug" })
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@Model.BadgeOutstandingAlcoholTest</h3>

                            <p>Outstanding Alcohol Test</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-beer"></i>
                        </div>
                        <div class="small-box-footer text-white">
                            @Html.ActionLink("View List", "outstanding", "Reports", new { Type = "Alcohol" })
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">

                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-12 connectedSortable">

                    <!-- Map card -->
                    <div class="card bg-gradient-primary">
                        <div class="card-header border-0">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title">
                                        <i class="fas fa-map-marker-alt mr-1"></i>
                                        Drivers
                                    </h3>
                                </div>
                                <div class="col">
                                    <input id="searchDrivers" class="form-control" />
                                </div>
                                <div class="col">
                                    <input onclick="refreshDriverComponent();" value="Search" class="btn btn-primary" />
                                </div>

                            </div>
                        </div>
                        <div class="card-body" id="driverContainer">
                            <!-- Favorite Companies -->
                            @await Component.InvokeAsync("FeaturedDrivers")
                        </div>
                        <!-- /.card-body-->
                        <div class="card-footer bg-transparent">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <div id="sparkline-1"></div>
                                    <div class="text-white">Driver List</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-4 text-center">
                                    <div id="sparkline-2"></div>
                                    <div class="text-white">Add +</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-4 text-center">
                                    <div id="sparkline-3"></div>
                                    <div class="text-white">Export ></div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>

                </section>
                <!-- right col -->
                <!-- Left col -->
                <section class="col-lg-12 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title">
                                        <i class="fas fa-map-marker-alt mr-1"></i>
                                        Companies
                                    </h3>
                                </div>
                                <div class="col">
                                    <input id="searchCompanies" class="form-control" />
                                </div>
                                <div class="col">
                                    <input onclick="refreshCompaniesComponent();" value="Search" class="btn btn-primary" />
                                </div>

                            </div>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content p-0" id="companyContainer">
                                <!-- Favorite Companies -->
                                @await Component.InvokeAsync("FeaturedCompanies")
                            </div>
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->


                </section>
                <!-- /.Left col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
    var container = $("#driverContainer");
    var companyContainer = $("#companyContainer");
    var refreshDriverComponent = function () {
        var _search = $("#searchDrivers").val();
        $.get("/Home/GetFeaturedDrivers?searchTerm=" + _search, function (data) { container.html(data); });
    };

    var refreshCompaniesComponent = function () {
        var _search = $("#searchCompanies").val();
        $.get("/Home/GetFeaturedCompanies?searchTerm=" + _search, function (data) { companyContainer.html(data); });
    };

    $(function () {
        // window.setInterval(refreshComponent, 1000);
    });
</script>
