@model RDAT.ViewModels.FeaturedDriversViewModel

@{
    WebGrid grid = new WebGrid(HttpContextAccessor, source: this.Model.Drivers,
         defaultSort: "DriverName",
         rowsPerPage: 50);
}


<div class="bg-white">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#list">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#details">Details</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="list" class="container tab-pane active mt-2">

            @if (grid.HasSelection)
            {
                var item = (RDAT.Models.DriverSearchResult)grid.Rows[grid.SelectedIndex].Value;
                <b>Name</b> @item.DriverName
                <br />
            }
            @grid.GetHtml(tableStyle: "table table-bordered", columns: grid.Columns(
            grid.Column("DriverName"),
            grid.Column("CompanyName"),
            grid.Column(
            "",
            header: "Actions",
            format: @<text>
                    @if (item.isLatestBatch)
                    {<a href="#" class="btn btn-success m-1" onclick="javascript:ViewDetails(@item.id)"><i class="fas fa-prescription-bottle-alt"></i></a> }
                    <a href="@Url.Action("Edit", "Driver", new { id = @item.id })" class="btn btn-primary m-1"><i class="fas fa-user-edit"></i></a>
                    
            </text>
)
)
)
        </div>
        <div id="details" class="container tab-pane fade">
            <div class="card mt-2">
                <input id="id" type="hidden" />
                <input id="showAlcohol" type="hidden" />
                <input id="showDrug" type="hidden" />
                <div class="card-body">
                    <div class="row p-2">
                        <div class="col-lg-4 col-sm-12">
                            <span id="driver_Name" class="h3"></span>
                        </div>

                        <div class="col-lg-4 col-sm-12 text-center">
                            <span id="driver_Id" class="h4"></span>
                        </div>

                        <div class="col-lg-4 col-sm-12 text-right">
                            <span id="company_Name" class="h4"></span>
                        </div>
                    </div>
                    <div class="row p-2"><div class="col"><span id="message"></span></div></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 p-4 mt-2 float-left">
                            <div class="container border-info bg-gray-light p-2" id="alcoholSection">

                                <div class="card">
                                    <div class="card-header"><i class="fas fa-beer mr-2"></i>Alcohol Test (#<span id="Alcohol_TestingLogID"></span>)</div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="control-label">Test Date</label>
                                            <input asp-for="Alcohol_Test_Date" id="Alcohol_Test_Date" type="date" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Result</label>
                                            <input id="Alcohol_Reported_Result" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Result Date</label>
                                            <input asp-for="Alcohol_Results_Date" id="Alcohol_Results_Date" type="date" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Specimen Id</label>
                                            <input id="Alcohol_Specimen_Id" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 p-4 mt-2 float-left">
                            <div class="container border-info bg-light p-2" id="drugSection">
                                <div class="card">
                                    <div class="card-header"><i class="fas fa-prescription-bottle-alt mr-2"></i>Drug Test (#<span id="Drug_TestingLogID"></span>)</div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="control-label">Test Date</label>
                                            <input asp-for="Drug_Test_Date" id="Drug_Test_Date" type="date" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Result</label>
                                            <input id="Drug_Reported_Result" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Result Date</label>
                                            <input asp-for="Drug_Results_Date" id="Drug_Results_Date" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Specimen Id</label>
                                            <input id="Drug_Specimen_Id" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button class="btn btn-secondary" onclick="javascript:UpdateDriver();">Update Driver</button>
                </div>
                <!-- /.card-footer-->
            </div>
        </div>

    </div>



</div>

<script>
    function ViewDetails(id) {
        $('.nav-tabs a[href="#details"]').tab('show');
        fetch("driver/getDriver?id=" + id)
            .then(response => response.json())
            .then(data => {
                document.getElementById('message').innerHTML = "";

                // alert(JSON.stringify(data, 2));
                console.log("UpdateDriverResults", data);
                var dn = document.getElementById('driver_Name');
                dn.innerHTML = data.driver_Name;
                var co = document.getElementById('company_Name');
                co.innerHTML = data.company_Name;
                var id = document.getElementById('driver_Id');
                id.innerHTML = data.driver_Id;

                // Alcohol
                var showAlcohol = data.alcohol_Show;
                var a1 = document.getElementById('showAlcohol');
                a1.value = showAlcohol;
                var a2 = document.getElementById('Alcohol_TestingLogID');
                a2.innerHTML = data.alcohol_TestingLogID;
                var a3 = document.getElementById('Alcohol_Test_Date');
                a3.value = new Date(data.alcohol_Test_Date).toISOString().substring(0, 10);
                var a4 = document.getElementById('Alcohol_Specimen_Id');
                a4.value = data.alcohol_Specimen_Id;
                var a5 = document.getElementById('Alcohol_Results_Date');
                a5.value = new Date(data.alcohol_Results_Date).toISOString().substring(0, 10);
                var a6 = document.getElementById('Alcohol_Reported_Result'); 
                a6.value = data.alcohol_Reported_Result;

                if (showAlcohol) {
                    a3.disabled = false;
                    a4.disabled = false;
                    a5.disabled = false;
                    a6.disabled = false;
                } else {
                    a3.disabled = true;
                    a4.disabled = true;
                    a5.disabled = true;
                    a6.disabled = true;
                };

                // Drug
                var showDrug = data.drug_Show;
                var d1 = document.getElementById('showDrug');
                d1.value = showDrug;
                var d2 = document.getElementById('Drug_TestingLogID');
                d2.innerHTML = data.drug_TestingLogID;
                var d3 = document.getElementById('Drug_Test_Date');
                d3.value = new Date(data.drug_Test_Date).toISOString().substring(0, 10);
                var d4 = document.getElementById('Drug_Specimen_Id');
                d4.value = data.drug_Specimen_Id;
                var d5 = document.getElementById('Drug_Results_Date');
                d5.value = new Date(data.drug_Results_Date).toISOString().substring(0, 10);
                var d6 = document.getElementById('Drug_Reported_Result');
                d6.value = data.drug_Reported_Result;

                if (showDrug) {
                    d3.disabled = false;
                    d4.disabled = false;
                    d5.disabled = false;
                    d6.disabled = false;
                } else {
                    d3.disabled = true;
                    d4.disabled = true;
                    d5.disabled = true;
                    d6.disabled = true;
                };
            })
            .catch(error => console.error('Unable to get items.', error));
    }

    function UpdateDriver() {

        var id = document.getElementById('driver_Id') ? document.getElementById('driver_Id').innerHTML : null;
        var dn = document.getElementById('driver_Name') ? document.getElementById('driver_Name').innerHTML : null;

        var co = document.getElementById('company_Name') ? document.getElementById('company_Name').value : null;
        
        // Alcohol
        var a1 = document.getElementById('showAlcohol') ? document.getElementById('showAlcohol').value : null;
        var a2 = document.getElementById('Alcohol_TestingLogID') ? document.getElementById('Alcohol_TestingLogID').innerHTML : null;
        var a3 = document.getElementById('Alcohol_Test_Date') ? document.getElementById('Alcohol_Test_Date').value : null;
        var a4 = document.getElementById('Alcohol_Specimen_Id') ? document.getElementById('Alcohol_Specimen_Id').value : null;
        var a5 = document.getElementById('Alcohol_Results_Date') ? document.getElementById('Alcohol_Results_Date').value : null;
        var a6 = document.getElementById('Alcohol_Reported_Result') ? document.getElementById('Alcohol_Reported_Result').value : null;

        var d1 = document.getElementById('showDrug') ? document.getElementById('showDrug').value : null;
        var d2 = document.getElementById('Drug_TestingLogID') ? document.getElementById('Drug_TestingLogID').innerHTML : null;
        var d3 = document.getElementById('Drug_Test_Date') ? document.getElementById('Drug_Test_Date').value : null;
        var d4 = document.getElementById('Drug_Specimen_Id') ? document.getElementById('Drug_Specimen_Id').value : null;
        var d5 = document.getElementById('Drug_Results_Date') ? document.getElementById('Drug_Results_Date').value : null;
        var d6 = document.getElementById('Drug_Reported_Result') ? document.getElementById('Drug_Reported_Result').value : null;

        var postdata = { Driver_Id: parseInt(id), Driver_Name: dn };

        if (a1 == "true") {
            postdata["Alcohol_TestingLogID"] = parseInt(a2);
            postdata["Alcohol_Test_Date"] = a3;
            postdata["Alcohol_Specimen_Id"] = parseInt(a4);
            postdata["Alcohol_Results_Date"] = a5;
            postdata["Alcohol_Reported_Result"] = a6;
        }

        if (d1 == "true") {
            postdata["Drug_TestingLogID"] = parseInt(d2);
            postdata["Drug_Test_Date"] = d3;
            postdata["Drug_Specimen_Id"] = parseInt(d4);
            postdata["Drug_Results_Date"] = d5;
            postdata["Drug_Reported_Result"] = d6;
        }
        
        $.ajax({
            url: 'driver/updateDriver',
            type: "POST",
            data: JSON.stringify(postdata),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (json) {
                if (json.success == true) {
                    document.getElementById('message').innerHTML = "Successfully updated log.";
                    document.getElementById('message').setAttribute("class", "text-success");
                }
                else {
                    document.getElementById('message').innerHTML = "Failed to update log.";
                    document.getElementById('message').setAttribute("class", "text-alert");
                }
            },
            error: function (error) {
                document.getElementById('message').innerHTML = "Log update failed.";
                console.log("Log update error", error);
            }
        })
    }

    $(document).ready(function () {
        $("#myTab a").click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

       
    });
</script>
