@model RDAT.ViewModels.FeaturedDriversViewModel

@{
    WebGrid grid = new WebGrid(HttpContextAccessor, source: this.Model.Drivers,
         defaultSort: "DriverName",
         rowsPerPage: 50);
}


<div class="bg-white">
<div id="list" class="container mt-2">

            @if (grid.HasSelection)
            {
                var item = (RDAT.Models.DriverSearchResult)grid.Rows[grid.SelectedIndex].Value;
                <b>Name</b> @item.DriverName
                <br />
            }
            @grid.GetHtml(tableStyle: "table table-bordered", columns: grid.Columns(
     grid.Column("DriverName"),
     grid.Column("CompanyName"),
     grid.Column("EnrollmentDate", header: "Enrollment", format: (item) => item.EnrollmentDate != null ? string.Format("{0:dd-MMM-yyyy}", item.EnrollmentDate) : ""),
     grid.Column("TerminationDate", header: "Termination", format: (item) => item.TerminationDate != null ? string.Format("{0:dd-MMM-yyyy}", item.TerminationDate) : ""),
     grid.Column(
     "",
     header: "Actions",
     format: @<text>
                    @if (item.isLatestBatch)
                    {<a href="@Url.Action("GetDriverLogs", "Driver", new { id = @item.id })" class="btn btn-success m-1"><i class="fas fa-prescription-bottle-alt"></i></a>}
                    <a href="@Url.Action("Edit", "Driver", new { id = @item.id })" class="btn btn-primary m-1"><i class="fas fa-user-edit"></i></a>

            </text>
)
)
)
        </div>
</div>
