@model RDAT.Models.CreateBatch

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CreateBatch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivePool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivePool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugTestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugTestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlcoholPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlcoholPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlcoholTestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlcoholTestDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
